.patient{
    display: table;
    clear: both;
    width: 100%;
}
.patient input{
    text-align: center;
    width: 150px;
    box-sizing: content-box;
    margin-bottom: 3px;
}
.patient .input1{
    width: 250px;
}
.patient .input2{
    width: 250px;
}
label{
    width: 100px;
    display: inline-block;
}
.namelabel{
    width: 130px;
    display: inline-block;
    padding-left: 20px;
}
.doctornamelabel{
    padding-left: 20px;
    width: 130px;
}
.patient .details{
    width: 68%;
    padding: 10px;
    float: left;
    text-align: left;
    padding-left: 30px;
}
.patient .details label{
    padding-right: 10px;
    
}
.patient .billdetails{
    width: 32%;
    padding: 10px;
    padding-left: 10%;
    float: right;
    text-align: left;
}
.patient .billdetails label{
    padding-right: 0px;
    
}
