.react-calendar {
    border: none;
    border-radius: 8px;
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .react-calendar__tile--active {
    background-color: #3498db;
    color: white;
  }
  