*{font-family: 'Times New Roman', Times, serif;}


.log-list{
    width: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0.1);
}

.box-log{
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 5px;
    width: 78%;
    position: absolute;
    top: 20%;
    right: 1%;
    border: 1px solid #ccc;
}

.header-log{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 25px;
}

.search-log{
    text-align: right;
    margin-bottom: 20px;
}

.search-log label{
    margin-right: 5px;
}

.search-log input{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.log-table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: none;
} 

.log-table th,
.log-table td{
    border:1px ;
    padding: 8px;
}

.nodata-log{
    text-align: center;
    color: #999;
}

.paginitation-log{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.previous-button-log,
.next-button-log{
    background-color: #f8f8f8;
    color:#000;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    justify-content: space-between;
}


.previous-button-log:hover,
.next-button-log:hover{
     background-color: #999;  /* button click chnage color */
}
