/* Overall container */
.login-container {
  background-image: url("./images/background.jpg"); /* Add the background image here */
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 1500px;
  background-position: center;
  position: relative; /* Ensure the container is relatively positioned */
  
}

/* Overlay for the effect over the background */
.overlay {
  background-color: rgba(0, 0, 0, 0.3); /* Transparent overlay */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  
}

.logo {
  position: absolute;  /* Allows precise placement */
  top: 0%;              /* Aligns the logo to the top */
  left: 0%;             /* Aligns the logo to the left */
  padding-left:10px;       /* Optional: Add padding around the logo */
  
}

.logo img {
  width: 250px;        /* Adjust the logo width */
  height: auto;        /* Maintain aspect ratio */

}


.login-box {
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent box */
  padding: 80px;
  border-radius: 10px;
  height: 20vh;
  text-align: center;
  backdrop-filter: blur(10px); /* Blur background behind the box */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); /* Shadow effect */
  width: auto;
  top: 50%;              /* Vertical position */
  left: 5%;  
  position: absolute ;
 
   
 
}
.login-box login-form{
  text-align: center;
  background-color: #004C99;

}

/* Logo and Text */

.logo-container h1 {
  color: white;
  font-size: 40px;
  margin:  0;
  text-align: center;
  font-weight: 500;
  position: absolute; 
  top: 30%; 
  left: 5%;
 
}

/* Input Fields */
.input-field {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}

/* Buttons */
.button-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto;
  gap: 10px; /* Spacing between the buttons */
}

.sign-in-button, .user-guide-button {
  padding: 10px 20px;
  background-color: #0066CC;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center; /* Vertically align the image and text */
  padding: 10px 20px;
  transition: background-color 0.3s, transform 0.3s ease;
  
}

/* Style for the image inside the button */
.sign-in-button img, .user-guide-button img {
  width: 20px; /* Set the width of the icon */
  height: 20px; /* Set the height of the icon */
  margin-right: 8px; /* Space between the icon and text */
}

.sign-in-button:hover, .user-guide-button:hover {
  background-color: #004C99; /* Darker blue on hover */
  transform: scale(1.1); /* Scale up the button on hover */
}

/* Adjust font */
.sign-in-button {
  background-color: #07b129;
  
}

.user-guide-button {
  background-color: #00CC66;
  
}
