/* General dashboard container */
.dashboard-container {
  display: flex;
  height: 100vh;
}



/* Main content */
.main-content {
  flex-grow: 1;
  padding: 90px;
  background-color: #ecf0f1;
  display: flex;
  margin-top: 10%;
}

/* Calendar section */
.calendar-section {
  flex: 2;
  margin-right: 20px;
}

.react-calendar {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.react-calendar__navigation button {
  color: white;
  background-color: #e74c3c;
}



.patient-stats {

  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: bold;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  height: 85%;
  
}

.patients-card {
  background-color: #bdc3c7;
  
}

.women-card {
  background-color: #f39c12;
}

.men-card {
  background-color: #e74c3c;
}

.children-card {
  background-color: #2ecc71;
}

.card h4 {
  margin-bottom: 10px;
  color: white;
}

.card p {
  font-size: 24px;
  color: white;
}
